
<!-- <app-header></app-header> -->
 <!-- <app-navigation></app-navigation>   -->

    <!-- <div app-navigation></div> -->

<!-- <div class="app-navigation"></div> -->
<!-- my code -->
<!-- <div class="mx-0">
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1> my app server</h1>
    </div>
    
  </div>
</div>
</div>
<hr> -->
<!-- Toolbar -->
<!-- 
<hr>
<app-assign></app-assign> -->
<!-- <app-footer></app-footer> -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <app-header></app-header>
<data-root></data-root> -->
<!-- <app-assessment></app-assessment> -->

<hr>


<!-- <app-add></app-add> -->
<!-- <app-assessment></app-assessment> -->
<!-- <app-banding></app-banding> -->
<!-- <app-name></app-name>
<app-assessment></app-assessment> -->
<!-- <app-server></app-server> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-array-form></app-array-form> -->
<!-- <app-f-array></app-f-array> -->
<!-- <app-forms></app-forms> -->
<!-- <app-link></app-link> -->
<!-- <app-errorpage></app-errorpage> -->
<!-- <app-navigation></app-navigation> -->
<!-- <app-lasthttp></app-lasthttp> -->
<app-keshu-form></app-keshu-form>